<!DOCTYPE html>
<html>
  <head>
    <title>Shoestore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class=<%= controller.controller_name%>>
    <div id="banner">
      <%= link_to image_tag("shoestore_logo.svg"), shopper_path %>
      <b>S</b>hoe<b>S</b>tore
      <% @page_title || "Our Products" %>
    </div>

    <div id="columns">

      <div id="side">

        <div id="cart">

          <%= form_tag(shopper_search_path, method: "get") do %>
            <%= search_field_tag :search, params[:search] %>
            <%= button_to 'Search', shopper_search_path, method: "get" %>
          <% end %>

          <!-- render current object cart's row in table -->
          <%= render @cart %> 

          <% if session[:user_id] %>
            <ul>
              <li><%= link_to 'Orders',   orders_path   %></li>
              <li><%= link_to 'Products', products_path %></li>
              <li><%= link_to 'Users',    users_path    %></li>
            </ul>
            <%= button_to 'Logout', logout_path, method: :delete   %>
          <% end %>

        </div>
      </div>

      <div id="main">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
