<!DOCTYPE html>
<html>
  <head>
    <title>Shoestore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class=<%= controller.controller_name%>>
    <div id="banner">
      <%= image_tag("shoestore_logo.svg") %>
      <b>S</b>hoe<b>S</b>tore
      <% @page_title || "Our Products" %>
    </div>

    <div id="columns">

      <div id="side">
        <div id="cart">
          <!-- render current object cart's row in table -->
          <%= render @cart %> 
        </div>
      </div>

      <div id="main">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
